
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            
    <div class="carousel-inner">
            <div class="carousel-item active">
                <blockquote class="blockquote text-center text-white font-weight-bold" style="background-color: #5A7FA2;">
                    <p class="mb-0">Create a life that feels good on the inside, not one that just looks good on the outside.</p>
                  </blockquote>
            </div>

            <div class="carousel-item">
                <blockquote class="blockquote text-center text-white font-weight-bold" style="background-color: #5A7FA2;">
                    <p class="mb-0">Life is real.</p>
                  </blockquote>
            </div>

            <div class="carousel-item">
                <blockquote class="blockquote text-center text-white font-weight-bold" style="background-color: #5A7FA2;">
                    <p class="mb-0">Travel is awesome.</p>
                  </blockquote>
            </div>

            <div class="carousel-item">
                <blockquote class="blockquote text-center text-white font-weight-bold" style="background-color: #5A7FA2;">
                    <p class="mb-0">Enjoy is dream.</p>
                  </blockquote>
            </div>

            

    </div><!--carousel inner-->

</div><!--carousel-->